@charset "UTF-8";
    /* 컨테이너 전체 높이 설정 */
    .full-height {
        min-height: 100vh;
    }
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }
/* 모바일 크기 (768px 이하) */
@media (max-width: 767px) {
    .photo-box{
        display: none !important;
    }
    .custom-card{
        max-width: 100% !important;
        width: 90% !important;
        margin: 100px auto;
    }
}
    