.showList-poster-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}
.showList-poster-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 700px;
}
.showList-poster-group.left { align-self: flex-start; margin-right: 670px; }
.showList-poster-group.right { align-self: flex-end; margin-left: 670px; }
.showList-poster {
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #555;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 454px;
    height: 605px;
}
.showList-poster img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


/* 슬라이드 전체 래퍼 */
.slider-wrapper {
    position: relative; /* 슬라이더를 부모 레이아웃 안에서 배치 */
    z-index: 0; /* 푸터와의 z-index 충돌 방지 */
    margin-bottom: 50px; /* 푸터와 간격 유지 */
}

/* 슬라이드 컨테이너 */
.slider-container {
    overflow: hidden; /* 슬라이드 외부 콘텐츠 숨기기 */
    flex: 1;
}

/* 슬라이드 */
.slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.slide {
    flex: 0 0 25%; /* 한 슬라이드 너비 */
    box-sizing: border-box;
    padding: 15px;
}

/* 공연 카드 */
.performance-item {
    text-align: center;
    padding: 15px;
}

.performance-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* 버튼 스타일 */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.slider-btn.left-btn {
    left: -60px; /* 컨테이너 왼쪽 밖으로 이동 */
}

.slider-btn.right-btn {
    right: -60px; /* 컨테이너 오른쪽 밖으로 이동 */
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Top 버튼 스타일 */
#topButton {
    position: fixed;
    bottom: 300px;
    right: 20px; /* 화면 오른쪽 하단 */
    background-color: #007bff; /* 버튼 배경색 */
    color: white;
    border: none;
    border-radius: 50%; /* 동그랗게 */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0.8;
    transition: all 0.3s ease;
}

#topButton:hover {
    background-color: #0056b3; /* 호버 시 더 어두운 파란색 */
    opacity: 1;
    transform: scale(1.1); /* 약간 확대 */
}

#topButton:focus {
    outline: none;
}