/* Hero Section 스타일 */
.hero-section {
    background-color: #f8f9fa;
    color: #343a40;
    text-align: center;
    
}
.content-section{
    padding: 50px 0;
    margin-top: 150px;
}
/* 이미지와 텍스트 섹션 스타일 */
.content-section h2 {
    font-weight: bold;
    border-left: 5px solid #ff6b00;
    padding-left: 15px;
    margin-bottom: 40px;
}
.modam-A{
    border-left: 5px solid #10375C !important;
}

.content-section img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.content-section ul {
    list-style: none;
    padding-left: 0;
}

.content-section ul li {
    line-height: 1.8;
}
.sub{
    font-size: 1.3rem;
    line-height: 1.5;
}
