.background-gray {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 30px;
    margin-bottom: 20px;
    
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

.poster-box {
    width: 100%; /* 가로 크기 설정 */
    max-width: 300px; /* 최대 가로 크기 */
    aspect-ratio: 3 / 4; /* 비율 3:4 */
    object-fit: cover; /* 이미지를 비율에 맞게 채움 */
    
    display: block; /* 레이아웃 흐름에서 블록 요소로 설정 */
    
}

.form-label {
    font-weight: bold;
}


.left-section-title{
    width: 96px;
    font-size: 1.5rem;
    font-weight: bold;
}
@media (max-width: 767px) {
    .left-section-title{
        width: 96px;
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 50px;
    }
    .poster-box {  
        width: 500px; /* 최대 가로 크기 */
        aspect-ratio: 3 / 4; /* 비율 3:4 */
        object-fit: cover; /* 이미지를 비율에 맞게 채움 */
        
        display: block; /* 레이아웃 흐름에서 블록 요소로 설정 */
        
    }
}


.right-section label{
    margin-right: 50px;
    font-size: 1.5rem;
}
.right-section p{
    font-size: 1.2rem;
}

/* 적립금 사용 섹션 스타일 */
.points-section {
   
    padding: 20px;
    
}

.input-group {
    margin-top: 10px;
}

.points-apply-btn {
    background-color: #27ae60; /* 녹색으로 변경 */
    color: #fff;
    transition: all 0.3s ease;
}

.points-apply-btn:hover {
    background-color: #229954; /* 진한 녹색 */
}
.points-summary{
    
    padding: 20px;
    padding-bottom: 149px;
    border-radius: 10px;
    /*border: 3px solid #eb8317;*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  그림자 */
    font-size: 1rem;
}
.points-summary label{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 20px;
}


/* 결제 요약 박스 스타일 */
.payment-section {
    padding: 20px;
}


.payment-summary {
    
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eb8317;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
    font-size: 1rem;
}

.total-amount {
    color: #d9534f;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-custom {
    background-color: #e74c3c;
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease; /* 애니메이션 */
}
.btn-custom:hover {
    background-color: #c0392b; /* 더 진한 색상으로 변화 */
    transform: scale(1.02); /* 약간 커짐 효과 */
}

.section-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/****** 예약내용 *********/
.col-md-6 {
    padding: 15px; /* 좌우 간격 추가 */
}


.performance-info p {
    margin-bottom: 8px;
    font-size: 1.1rem; /* 약간 더 큰 폰트 */
    line-height: 1.5;
}