.content {
    padding-top: 100px;
    padding-bottom: 50px;
}

.left-section, .right-section {
    padding: 20px;
}
.right-section{
    border: 1px solid #ccc;
}
.poster-box {
    background-color: #ccc;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}


.section-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.center-button {
    width: 300px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #ff9320;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.center-button:hover{
    border: 1px solid #ff9320;
    color: #ff9320;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* 태블릿 크기 (768px ~ 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .full-row{
        display: flex !important;
        flex-direction: column !important;
    }
    .right-section {
        width: 100%;
    }
    .left-section{
        width: 100%;
    }
    .section-box{
        width: 50%;
    }
}

/* 모바일 사이즈 */
@media (max-width: 768px) {
    .poster-box{
        width: 250px;
        height: 333px;
    }
    .right-section{
        width: 100%;
    }
    .left-section{
        width: 100%;
    }
    .section-box{
        width: 100%;
    }
    .section-box label{
        margin-top: 10px;
    }
    .section-box p{
        margin: 0;
        padding: 0;
    }
}