<header class="header-container container d-flex justify-content-between align-items-center" th:fragment="headerFragment">
    <div>
        <a th:href="@{/}">
            <img src="/imgs/logo-text-black.png" alt="Modam Art Hall Logo" class="logo-img">
        </a>
    </div>
    <nav class="col-9 d-flex align-items-center">
        <a th:href="@{/hallDetail}" class="text-decoration-none text-dark p-3 mx-2">아트홀소개</a>
        <a th:href="@{/showDetail}" class="text-decoration-none text-dark p-3 mx-2">공연</a>
        <a th:href="@{/noticeList}" class="text-decoration-none text-dark p-3 mx-2">공지사항</a>
    </nav>
    <div class="auth-buttons d-flex align-items-center">
        <!-- 비로그인 사용자 -->
        <div th:if="${#authentication == null or !#authentication.authenticated or #authentication.principal == 'anonymousUser'}">
            <a th:href="@{/login}" class="btn btn-primary">로그인</a>
        </div>

        <!-- 로그인된 사용자 -->
        <div th:if="${#authentication != null and #authentication.authenticated and #authentication.principal != 'anonymousUser'}">
            <a th:href="@{/mypage}" class="btn btn-outline-dark me-2">마이페이지</a>
            <a th:href="@{/logout}" class="btn btn-danger">로그아웃</a>
        </div>
    </div>
</header>
