<header class="header-container container d-flex justify-content-between align-items-center" th:fragment="headerFragment">
    <div>
        <a th:href="@{/}">
            <img src="/imgs/logo-text-black.png" alt="Modam Art Hall Logo" class="logo-img">
        </a>
    </div>
    <nav class="col-9 d-flex align-items-center">
        <a th:href="@{/hallDetail}" class="text-decoration-none text-dark p-3 mx-2">아트홀소개</a>
        <a th:href="@{/showDetail}" class="text-decoration-none text-dark p-3 mx-2">공연</a>
        <a th:href="@{/noticeList}" class="text-decoration-none text-dark p-3 mx-2">공지사항</a>
    </nav>
    <div class="col-2 bg-secondary text-center d-flex align-items-center justify-content-center mx-3" style="width: 30px; height: 30px;">
        icon
    <div>
    
</header>
