
/* 컨테이너 전체 높이 설정 */
.full-height {
    min-height: 100vh;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.sd_info-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
}
.sd_comment-box {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f9fa;
}
.sd_comment-author {
    font-weight: bold;
    margin-right: 10px;
}
.sd_comment-timestamp {
    font-size: 0.85em;
    color: #888;
}
#sd_scrollToTopBtn {
    position: fixed;
    bottom: 80px;
    right: 170px;
    display: none; /* 스크롤할 때만 보이도록 */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}
#sd_scrollToTopBtn:hover {
    background-color: #0056b3;
}
